/* Disables weird highlights and outlines
 *
 *
 */

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);	
}
*:focus {
	outline: none
}

/* Fixes weird scrolling that shouldn't happen
 *
 *
 */

html {
    position:fixed;
    height:100%;
    width:100%
}

/* Disables unuseful button that either shouldn't be on the app, or don't work with it */
#O365_HeaderLeftRegion, #HelpIcon_container {
	display: none;
}